# Resource name prefix
prefix = "syn"

# Deployment location
location = "West Europe"

# Jumpbox login credentials
jumphost_username = "azureuser"
jumphost_password = "ThisIsNotVerySecure!"

# Synapse SQL admin credentials
synadmin_username = "sqladminuser"
synadmin_password = "ThisIsNotVerySecure!"

# Synapse AAD login credentials
aad_login = {
  name = "azureuser@contoso.com"
  object_id = "00000000-0000-0000-0000-000000000000"
  tenant_id = "00000000-0000-0000-0000-000000000000"
}